<div class="cards">
  <% @plants.each do |plant| %>
    <%= link_to plant_path(plant.id), class:"nav-link" do %>
    <div class="card-plant m-3">
      <%= cl_image_tag plant.photo.key %>
      <div class="card-plant-infos">
        <div>
          <h2><%= plant.name %></h2>
          <p>Rent by <%= plant.user.first_name %></p>
        </div>
        <h2 class="card-plant-pricing"><%= plant.price %> €</h2>
      </div>
    </div>
    <% end %>
  <% end %>
</div>
