<div class="container">
  <%= cl_image_tag @plant.photo.key, height: 300, width: 400, crop: :fill %>

  <h2><%= @plant.name %></h2>
  <p><%= @plant.description %></p>
  <p><%= @plant.price %> €</p>

  <% if @plant.user == current_user %>
    <p>it's your plant</p>
    <%= link_to "Edit", new_plant_path(@plant.id), class: "btn btn-primary"%>
    <%= link_to "Delete",
      plant_path(@plant), class: "btn btn-danger cancel",
      data: {turbo_method: :delete, turbo_confirm: "Êtes-vous sûr?"}%>
    <% else %>
      <%= link_to 'Rent', new_plant_booking_path(@plant), class: 'btn btn-primary rent' %>
    <% end %>
</div>
